# training data artifacts:
/out
# macOS leaves these files everywhere:
.DS_Store
# Created by `lake exe cache get` if no home directory is available
/.cache
/lake-packages/
/lakefile.olean
/.lake/
.venv
__pycache__/
.claude
logs
